@model Asp.NetCoreIntro.Models.Tutorial

<form method="post" asp-controller="Tutorial" asp-action="CreateTutorial"> 

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description"  class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>